<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- boots trap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAq6z5l5e5d5e5d5e5d5e5d5e5d5e"
      crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/
umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+1L8j6b   
        crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js
"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8xW2z5l5e5d5e5d5e5d5e5d5e5d5e5d5e5d5e"
        crossorigin="anonymous"></script>

    <title>Document</title>
  </head>
  <body>
    <h2>Posts</h2>
    <div class="container">
      <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
              <a href="/posts/{{ post.id }}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  </body>
</html>
